extends layout 

block content
    h1= title
    p.elistTitle Subscribe
    p.elist Enter your email to be informed of our future updates!!  
    
  
  
    #firstName
        input(type='text', name='firstName', placeholder='First Name')
    #lastName
        input(type='text', name='lastName', placeholder='Last Name')
    #emailField
        input(type='text', name='emailField', placeholder='Email Address')
    #buttonSignup
        a(href="/signedup")
            button(type='submit') Sign up