extends layout 

block content
    div.products
        h1 Recommended List
        table.table 
            tr
                th Name 
                th Origin 
                th Price 
                th Quantity 
                th Unit 
                th Category 
    